.App {
  text-align: center;
  font-weight: 300;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 10s linear; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background: linear-gradient(135deg, #282c34 30%, #4a4e69 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(94, 79, 79);
  text-shadow: 2px 2px 4px #000000; 
}

.App-link {
  color: #61dafb;
  background-color: #282c34;
  padding: 10px 20px;
  border: 2px solid #61dafb;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.App-link:hover {
  background-color: #61dafb;
  color: #282c34;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}